<!DOCTYPE html>
<html>
  <head>
    <title>Auf</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'app' %>
  </body>
</html>
